#highlights-panel {
  padding: 40px 0;
  background-color: #e5e5e5;

  .title {
    text-align: center;
    margin-bottom: 20px;

    .row {
      margin: 0;
      .subtitle {
        max-width: 640px;
      }
    }
  }

  .content {
    .col-panel {
      flex: 0 0 100%;
      max-width: 100%;

      .panel {
        padding: 15px;
        border: 1px solid #c4c4c4;
        margin-bottom: 30px;

        .panel-text {
          font-size: 11pt;
        }
        .panel-icon {
          text-align: right;
          color: #c4c4c4;
          font-size: 15pt;
        }
      }
    }
  }
}

@media (min-width: 480px) {
  #highlights-panel {
    .content {
      .col-panel {
        flex: 0 0 50%;
        max-width: 50%;

        .panel {
          .panel-text {
            height: 170px;
            font-size: 10pt;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #highlights-panel {
    .content {
      .col-panel {
        .panel {
          .panel-text {
            height: 140px;
            font-size: 11pt;
          }
        }
      }
    }
  }
}

@media (min-width: 960px) {
  #highlights-panel {
    .content {
      .col-panel {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;

        .panel {
          .panel-text {
            height: 210px;
            font-size: 11pt;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #highlights-panel {
    .content {
      .col-panel {
        .panel {
          .panel-text {
            height: 130px;
          }
        }
      }
    }
  }
}